@import '../base/variables';
.product-tittle{ 
    @extend %titulo;
    h1{
        font-size: 30px;   
    }
    h3{
        text-align: center;
        margin-top: 20px;
        font-size: 20px;  
        text-transform: uppercase;
        font-family: 'Adam-Bold'!important;
    }
}

.product-list {
    width: 100%;
    display: flex;
    padding: 0px 50px;
    margin-bottom: 300px;
    justify-content:space-evenly;
    flex-wrap: wrap;
    img{
        width: 450px;
        height: auto;
        margin: 15px;
        filter: gray;
        transition: all;      
        -webkit-filter: grayscale(1);
        -webkit-transition: all .3s ease-in-out;
        &:hover{
            filter: none;
            transform: scale();
            -webkit-filter: grayscale(0);
            -webkit-transform: scale(1.04);
        }
    }
}