@import 'variables';

*{
    margin:0px;
    padding: 0px;
}
@font-face {
    font-family: 'Adam-Bold';
    src: url('../fonts/Adam-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'NexaL';
    src: url('../fonts/Nexa Light.otf') format('truetype');
}
body{
    background-color:$color-cuerpo;
    font-family: 'NexaL';
    color:$color-cuerpo-texto;
}