
// Variables
$color-cuerpo:#f1f1f1;
$color-cuerpo-texto:#666666;

// Listas
$colores:
red,
green,
blue,
pink;

$font-size:
12px,
16px,
20px;

%titulo{
    margin: 100px 0px;
    padding: 5px 300px;
    text-align: center;
}

//Mixins
@mixin main($width,$margin-top,$margin-bottom,$display,$grid-template-columns,$grid-auto-rows,$gap){
    width: $width;
    margin-top: $margin-top;
    margin-bottom: $margin-bottom;
    display: $display;
    grid-template-columns: $grid-template-columns;
    grid-auto-rows: $grid-auto-rows;
    gap: $gap;
}

